
@import 'var';

@mixin styleScrollY {
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: $contrast $contrast-dark;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 30px;
    width: 2px;
    height: 2px;
    background: fade-out($contrast, 0.5);
  }
  &::-webkit-scrollbar-thumb:hover {
    display: block;
    box-shadow: 0 0 2px 1px $contrast-dark;
    background: $contrast;
  }
}

@mixin styleScrollX {
  scrollbar-width: thin;
  scrollbar-color: $contrast $contrast-dark;
  overflow-y: hidden;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 30px;
    width: 2px;
    height: 2px;
    background: fade-out($contrast, 0.5);
  }
  &::-webkit-scrollbar-thumb:hover {
    display: block;
    box-shadow: 0 0 2px 1px $contrast-dark;
    background: $contrast;
  }
}

@mixin contrast-bg-gradiente{
  background: $contrast-gradiente;
}

@mixin primary-bg-gradiente{
  background: $primary-gradiente;
}
