.topNavbar {
	display: grid;
	grid-template-areas: "hamburger brand search car login";
	grid-template-columns: 10% 20% 40% 15% 15%;
	width: 100%;
	height: 100%;
	justify-items: center;
	align-content: center;
	box-shadow: 1px 1px 3px black;
	&__hamburguer {
		grid-area: hamburger;
		display: block;
		background: transparent;
		border: none;
		& i {
			color: $primary;
			display: flex;
			justify-content: center;
			cursor: pointer;
			font-size: 300%;
		}
	}
	&__brand {
		grid-area: brand;
		display: flex;
		justify-content: center;
		align-items: center;
		& img {
			max-height: 60%;
			cursor: pointer;
		}
		&-name {
			display: none;
		}
	}
	&__search {
		grid-area: search;
		align-self: center;
		width: 100%;
		cursor: pointer;
	}
	&__car {
		grid-area: car;
	}
	&__login {
		grid-area: login;
		justify-self: flex-start;
		height: 50%;
		width: 90%;
	}
}

.avatar {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border:1px solid $contrast;
	border-radius: 100%;
	cursor: pointer;
	& img {
		width: 100%;
		height: 100%;
		border-radius: 100%;
	}
}

.footer {
	display: none;
}

.btnInstall{
	border-radius: 50%;
	background-color: $contrast;
	position: fixed;
	height: 40px;
	width: 40px;
	right: 0%;
	top:0%;
	color: $primary;
	border: 1px solid $primary;
}

@media screen and (max-width: 580px) {
	.topNavbar {
		display: grid;
		height: 100%;
		width: 100vw;
		grid-template-areas: "hamburger brand login";
		grid-template-columns: 20% 60% 20%;
		grid-template-rows: 100%;
		align-content: initial;
		&__hamburguer {
			grid-area: hamburger;
			display: block;
			color: $primary;
			background: transparent;
			border: none;
			& i {
				display: flex;
				justify-content: center;
				cursor: pointer;
				font-size: 300%;
				color: $primary;
			}
		}
		&__search {
			display: none;
		}
		&__car {
			position: fixed;
			top: 80vh;
			left: 80vw;
			background: $primary-gradiente;
			box-shadow: 1px 1px 10px;
			border-radius: 100%;
			padding: 5px;
		}
		&__brand {
			grid-area: brand;
			width: 80%;
		}
	}
	.avatar {
		width: 30px;
		height: 30px;
	}
}
