.MenuHamburger {
	box-shadow: 1px 1px 3px black;
	width: 100%;
	height: 100%;
	transition: $transition-nav;
	&__content {
		flex-direction: column;
		width: 98%;
		height: 90vh;
		@include styleScrollY;
		&-categories {
			margin: 5% 0% 0% 0%;
		}
		&-categories {
			position: relative;
		}
	}
}

@media screen and (max-width: 580px) {
	.MenuHamburger {
		@include primary-bg-gradiente;
		&__bg {
			display: none;
		}
		&__content {
			flex-direction: column;
			width: 98%;
			height: 100%;
			@include styleScrollY;
			&-categories {
				margin: 5% 0% 0% 0%;
			}
		}

	}
}