.search {
  display: grid;
  grid-template-columns: 80% 20%;
  &__input {
    width: 94%;
    box-shadow: 1px 2px 3px black;
    border-right: 0px;
    height: $space;
    border-radius: 5 * $space;
    text-align: center;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  &__button {
    height: 90%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 1px 2px 3px black;
    color: $light;
    @include primary-bg-gradiente;
    &:active {
      transition: background 0s;
      background: $primary-dark;
      background-size: 100%;
    }
  }
}

@media screen and (max-width: 760px) {
  .space_top_mg {
    margin-top: 0px !important;
  }
}
